.navbar {
    background-color: #141414;
}

.algorithms-container {
    background-color: #141414;
    color: white;
}

* {
    margin: 0;
}

/* algorithms styling */
.algorithms-content {
    width: 80%;
}

.algorithms-content h2 {
    font-size: 2em;
    padding-top: 10vh;
}

.algorithms-content h3 {
    font-weight: normal;
    color: rgb(152, 160, 160);
    padding-bottom: 10vh;
}

.space {
    margin-bottom: 20vh;
}

/* wheel animation */
.loop-wrapper2 {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 600px;
    height: 125px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
}

.wheel img {
    width: 20%;
    z-index: 1;
    animation: spin 2.2s linear infinite;
    animation-direction: alternate-reverse;
}

.wheel {
    animation: travel 2.2s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes travel {
    from {
        transform: translateX(480px);
    }
}
