.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4a4a4a;
  color: white;
}

.App-link {
  color: #1c1d1d;
}

.navbar {
  background-color: #1c1c1c;
  font-size: 20px !important;
  padding: 20px !important;
  z-index: 1;
  position: sticky !important;
}

.navbar a {
  color: white;
  padding-left: 0px;
  font-size: large;
}

.navbar a:hover {
  color: white;
  border-bottom: white 2px solid;
}

a.ml-2 {
  margin-left: 20px !important;
}

.no-hover:hover {
  border-bottom: none !important;
}
